<div class="info">
  <% if @place.lines.empty? %>
    <p>There are no lines recorded. Let's start one!</p>
  <% else %>
    <% @place.lines.each do |line| %> <!-- TO DO Filter by TODAY DATE -->
      <div>
        <% if (Time.zone.now - line.end_date) < 3600 %>
          Line time: <%= pluralize(((Time.zone.now - line.end_date) / 60).to_i, 'minute') %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
