<div class="info">
  <h3 class="mb-0">
    <% unless place.last_line.nil? %>
      <% unless place.last_line.nil? || place.last_line == 0 %>
        <%= place.last_line %> min
      <% end %>
    <% end %>
  </h3>
</div>
