<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_KEY']}" %>

<div class="container mb-3">
    <div class="d-flex">
      <%= text_field_tag :query, params[:query], data: { target: 'search.keyword' }, class: "form-control" %>
      <%= button_tag(type: "submit", class: "btn btn-primary",
        data: { action: 'click->search#search' }) do %>
        <i class="ni ni-send"></i>
      <% end %>

    </div>
</div>

