

<body class="background">
  <div>
    <div class="container">
      <h1><center>Logo</center></h1>
      <h2><center>Inqueue creates smart Lineups</center></h2>
      <p><center>Join the movement starting a lineup once your are on spot. Find places and their waiting time</center></p>
    </div>
    <div>
    <input type="text" class="search-bar" placeholder="Search..">
    </div>
    <div>
      <div class="footer"></div>
    </div>
  </div>
</body>

