<div class="container container-homepage text-center">
  <%= render 'shared/logo' %>
  <h2>InQueue creates smart lineups</h2>
  <p class="mb-5">Join the movement starting a lineup once your are on spot. Find places and their waiting time.</p>
  <div class="btn-grid">
      <div class="mb-4">
        <%= link_to "Find a place", places_search_path, class: "btn-home p-3" %>
      </div>
      <div class="mb-5">
        <%= link_to "Track a line", places_map_path, class: "btn-home p-3" %>
      </div>
  </div>
</div>

