<div class="container" style="text-align: center;">
  <h1>Logo</h1>
  <h2>InQueue creates smart lineups</h2>

  <p>Join the movement starting a lineup once your are on the spot</p>
  <p>Find places and their waiting time</p>

  <%= link_to "I want to find a location", places_search_path, class: "btn btn-primary" %>
  <%= link_to "I want to start a lineup", places_map_path, class: "btn btn-primary" %>
</div>