.background {
  background: linear-gradient(180deg, $blue-background -8.14%, rgba(79, 177, 235, 0.74) 93.32%);
  border: 1px solid #000000;
  min-height: 100vh;
}

.background-grid{
  gap: 24px;
  display: grid;
  grid-template-rows: 60vh 48px 48px;
}

