  @import "../config/index";

.btn-hp {
  border-radius: 50px;
  background-color: #F3F8FA;
  color: #154763;
  border: none;
  font-size: 12px;
  margin: 0 4vw;
  text-align: center;
}

.btn-home{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: #F3F8FA;
  color: #154763;
  border: none;
  font-size: 20px;
  margin: 0 4vw;
  text-align: center;
}

a:hover {
  color: #0e3043;
}

.btn-primary {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: none;
  border: none;
  background: $white-button;
  color: #313232;
}

.btn-primary:hover{
  background-color: $white-button;
  color: #313232;
  box-shadow: none;
  -webkit-transform: none;
}
