  @import "../config/index";

.btn-home {
  border-radius: 50px;
  background-color: #F3F8FA;
  color: #154763;
  display: flex;
  flex-direction: column;
  background-color: #F3F8FA;
  border: none;
  font-size: 16px;
  text-align: center;
    &:focus{
    background: #3982B0;
    box-shadow: none;
    -webkit-transform: none;
}
}


.btn-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 12px;
  width: 100%;

  @media (min-width: 1024px) {
    width: 64%;
    grid-template-columns: 1fr 1fr;
  }
}

.btn-end{
  border-radius: 50px;
  background-color: #F1A298;
  color: white;
  border: none;
  font-size: 14px;
  // margin: 0 4vw;
  text-align: center;
}

a:hover {
  color: #0e3043;
}

.btn-search {
  border-top-left-radius: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 0;
  box-shadow: none;
  border: none;
  background: $white-button;
  color: #313232;
}

.btn-search:hover{
  background-color: $white-button;
  color: #313232;
  box-shadow: none;
  -webkit-transform: none;
}

.btn-search:active{
  background-color: $white-button;
  color: #313232;
  box-shadow: none;
  -webkit-transform: none;
}

.btn-search:focus{
  background-color: $white-button;
  color: #313232;
  box-shadow: none !important;
  -webkit-transform: none;
}

.btn-search:visited{
  background-color: $white-button;
  color: #313232;
  box-shadow: none;
  -webkit-transform: none;
}

.btn-control {
  width: 100%;
  max-width: 300px;
  border-radius: 50px;
  box-shadow: none;
  border: none;
  background: #3686B2;
  color: white;
}

.btn-control:hover {
  background-color: #285b78;
  color: white;
  box-shadow: none;
  -webkit-transform: none;
}
