.card {
  color: #505050;
  border-radius: 15px 15px 15px 15px;
  font-family: "Roboto", "sans-serif";
  h3 {
    color: #505050;
    font-weight: 500;
  }
}

.card-line-recorded {
  display: flex;
  align-items: center;
  padding-left: 8px;
  background-color: #D5BD8A;
  text-align: left;
  border-radius: 10px 10px 0px 0px;
  p {
    margin: 0;
  }
}


.show-link {
  color: #505050;
  padding: 0;
}

.show-link:hover{
  box-shadow: none;
  color: #505050;
  text-decoration: underline;
  -webkit-transform: none;
  transform: none;
}

