
.container {
  position: absolute;
  width: 340px;
  height: 357px;
  left: 17px;
  top: 61px;
  margin: 0 0 0 0;
  color: #FFFFFF;
}

.container h1{
  color: #FFFFFF;
}

.container h2{
  color: #FFFFFF;
  font-size:24px;
}

.container p{
  color: #FFFFFF;
  font-size:12px;
}

