.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h2 {
    color: white;
    font-size: 22px;
    font-weight: bold;
  }
}

// .container-inqueue {
//   width: 100vw;
//   padding: 0 4vw;
//   color: #FFFFFF;
//   align-items: center;
//   flex-direction: column;
//   display: flex;
//   text-align: center;
//   align-self: center;
// }

// .container-inqueue h1{
//   color: #FFFFFF;
// }

// .container-inqueue h2{
//   color: #FFFFFF;
//   font-size:24px;
// }

// .container-inqueue p{
//   color: #FFFFFF;
//   font-size:12px;
// }

