.footer-back {
  display: flex;
  background-color: $white-button;
  // position: fixed;
  width: 44px;
  height: 44px;
  // left: 3vh;
  // bottom: 8vh;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.footer-home {
  display: flex;
  background-color: $white-button;
  // position: fixed;
  width: 44px;
  height: 44px;
  // left: 20vw;
  // bottom: 8vh;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

