.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
}

.footer-back {
  display: flex;
  background-color: $white-button;
  // position: fixed;
  width: 44px;
  height: 44px;
  // left: 3vh;
  // bottom: 8vh;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.footer-home {
  display: flex;
  background-color: $white-button;
  // position: fixed;
  width: 44px;
  height: 44px;
  // left: 20vw;
  // bottom: 8vh;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.footer-sorting {
  display: flex;
  background-color: $white-button;
  // position: fixed;
  width: 44px;
  height: 44px;
  // left: 20vw;
  // bottom: 8vh;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 15px;
  bottom: 16px;
  z-index: 100000;
  &:active{
    background: red;
  }
}

.footer-blur{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 140px;
    background: linear-gradient(transparent, #66afdb 68%);
}
