.search-bar {
  padding-left: 20px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background: $white-button;
  border: none;
}

.pac-container {
  margin-left: 20px !important;
  max-width: 936px !important;
  min-width: 291px !important;
}
