// External libraries
@import "font-awesome-sprockets";
@import "font-awesome";
@import "nucleo-icons";
@import "nucleo-svg";
@import "argon-design-system";
@import "components/index";
@import "config/index";

.Site {
  background: linear-gradient(180deg, $blue-background -8.14%, rgba(79, 177, 235, 0.74) 93.32%);
  color: white;
  min-height: 100vh;
  // display: flex;
  // display-direction: column;
}

// .Site-content {
//   flex: 1;
// }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
}
