<div class="container text-center">
  <svg width="200" height="120" viewBox="0 0 531 231" fill="none" xmlns="http://www.w3.org/2000/svg">
  <rect width="529.61" height="231" fill="white"/>
  <path d="M96.3622 230.029H94.3154V216.46L90.2109 217.968V216.119L96.0431 213.929H96.3622V230.029Z" fill="url(#paint0_linear)"/>
  <path d="M112.824 230.029H102.326V228.565L107.873 222.403C108.694 221.471 109.259 220.715 109.567 220.136C109.883 219.549 110.04 218.944 110.04 218.32C110.04 217.484 109.787 216.798 109.281 216.262C108.775 215.727 108.1 215.459 107.256 215.459C106.244 215.459 105.455 215.749 104.89 216.328C104.333 216.901 104.054 217.7 104.054 218.727H102.018C102.018 217.253 102.492 216.061 103.438 215.151C104.392 214.241 105.664 213.786 107.256 213.786C108.746 213.786 109.923 214.179 110.789 214.964C111.654 215.741 112.087 216.78 112.087 218.078C112.087 219.655 111.082 221.533 109.072 223.712L104.78 228.367H112.824V230.029Z" fill="url(#paint1_linear)"/>
  <path d="M90.7438 125.311H115.347V175.436H90.7438V125.311Z" fill="url(#paint2_linear)"/>
  <path d="M51.2568 230.029H49.21V216.46L45.1054 217.968V216.119L50.9377 213.929H51.2568V230.029Z" fill="url(#paint3_linear)"/>
  <path d="M63.9116 230.029H61.8648V216.46L57.7603 217.968V216.119L63.5925 213.929H63.9116V230.029Z" fill="url(#paint4_linear)"/>
  <path d="M45.6382 125.311H70.2412V175.436H45.6382V125.311Z" fill="url(#paint5_linear)"/>
  <path d="M6.15134 230.029H4.10456V216.46L0 217.968V216.119L5.83222 213.929H6.15134V230.029Z" fill="url(#paint6_linear)"/>
  <path d="M22.1624 223.195C22.1624 225.579 21.7553 227.351 20.941 228.51C20.1267 229.669 18.8538 230.249 17.1225 230.249C15.4132 230.249 14.1477 229.684 13.3261 228.554C12.5044 227.417 12.0789 225.722 12.0496 223.47V220.752C12.0496 218.397 12.4567 216.647 13.2711 215.503C14.0854 214.359 15.3619 213.786 17.1005 213.786C18.8245 213.786 20.0937 214.34 20.908 215.448C21.7223 216.548 22.1404 218.25 22.1624 220.554V223.195ZM20.1267 220.411C20.1267 218.687 19.8846 217.432 19.4004 216.647C18.9162 215.855 18.1496 215.459 17.1005 215.459C16.0588 215.459 15.2995 215.852 14.8226 216.636C14.3458 217.421 14.1 218.628 14.0854 220.257V223.514C14.0854 225.245 14.3348 226.526 14.8337 227.355C15.3398 228.176 16.1028 228.587 17.1225 228.587C18.1276 228.587 18.8722 228.198 19.3564 227.421C19.8479 226.643 20.1047 225.418 20.1267 223.745V220.411Z" fill="url(#paint7_linear)"/>
  <path d="M0.532832 125.311H25.1358V175.436H0.532832V125.311Z" fill="url(#paint8_linear)"/>
  <path d="M151.896 230.029H149.849V216.46L145.744 217.968V216.119L151.577 213.929H151.896V230.029Z" fill="url(#paint9_linear)"/>
  <path d="M135.849 125.311H160.452V175.436H135.849V125.311Z" fill="url(#paint10_linear)"/>
  <path d="M176.854 104.426H201.457V175.436H176.854V104.426Z" fill="url(#paint11_linear)"/>
  <path d="M217.859 87.7179H242.462V175.436H217.859V87.7179Z" fill="url(#paint12_linear)"/>
  <path d="M340.874 29.2393H365.477V175.436H340.874V29.2393Z" fill="url(#paint13_linear)"/>
  <path d="M303.97 50.1244H328.573V175.436H303.97V50.1244Z" fill="url(#paint14_linear)"/>
  <path d="M262.965 71.0097H287.568V175.436H262.965V71.0097Z" fill="url(#paint15_linear)"/>
  <path d="M385.98 0H410.583V175.436H385.98V0Z" fill="url(#paint16_linear)"/>
  <path d="M422.884 29.2393H447.487V175.436H422.884V29.2393Z" fill="url(#paint17_linear)"/>
  <path d="M463.889 71.0097H488.492V175.436H463.889V71.0097Z" fill="url(#paint18_linear)"/>
  <path d="M504.894 125.311H529.497V175.436H504.894V125.311Z" fill="url(#paint19_linear)"/>
  <path d="M196.708 230.029H186.21V228.565L191.756 222.403C192.578 221.471 193.143 220.715 193.451 220.136C193.766 219.549 193.924 218.944 193.924 218.32C193.924 217.484 193.671 216.798 193.165 216.262C192.659 215.727 191.984 215.459 191.14 215.459C190.128 215.459 189.339 215.749 188.774 216.328C188.216 216.901 187.938 217.7 187.938 218.727H185.902C185.902 217.253 186.375 216.061 187.321 215.151C188.275 214.241 189.548 213.786 191.14 213.786C192.629 213.786 193.807 214.179 194.672 214.964C195.538 215.742 195.971 216.78 195.971 218.078C195.971 219.655 194.966 221.533 192.956 223.712L188.664 228.367H196.708V230.029Z" fill="url(#paint20_linear)"/>
  <path d="M230.175 221.027H231.705C232.666 221.013 233.421 220.759 233.972 220.268C234.522 219.776 234.797 219.112 234.797 218.276C234.797 216.398 233.862 215.459 231.991 215.459C231.111 215.459 230.406 215.712 229.878 216.218C229.357 216.717 229.097 217.381 229.097 218.21H227.061C227.061 216.941 227.523 215.888 228.447 215.052C229.379 214.208 230.56 213.786 231.991 213.786C233.502 213.786 234.687 214.186 235.545 214.986C236.404 215.786 236.833 216.897 236.833 218.32C236.833 219.017 236.605 219.692 236.15 220.345C235.703 220.998 235.09 221.486 234.313 221.808C235.193 222.087 235.872 222.549 236.349 223.195C236.833 223.841 237.075 224.629 237.075 225.561C237.075 226.999 236.605 228.14 235.666 228.983C234.727 229.827 233.506 230.249 232.002 230.249C230.498 230.249 229.273 229.842 228.326 229.027C227.387 228.213 226.918 227.138 226.918 225.803H228.965C228.965 226.647 229.24 227.322 229.79 227.828C230.34 228.334 231.077 228.587 232.002 228.587C232.985 228.587 233.737 228.33 234.258 227.817C234.779 227.303 235.039 226.566 235.039 225.605C235.039 224.673 234.753 223.958 234.181 223.459C233.608 222.96 232.783 222.703 231.705 222.689H230.175V221.027Z" fill="url(#paint21_linear)"/>
  <path d="M276.814 224.648H279.037V226.309H276.814V230.029H274.767V226.309H267.472V225.11L274.646 214.007H276.814V224.648ZM269.783 224.648H274.767V216.791L274.525 217.231L269.783 224.648Z" fill="url(#paint22_linear)"/>
  <path d="M310.16 221.996L310.975 214.007H319.184V215.888H312.702L312.218 220.257C313.003 219.795 313.894 219.564 314.892 219.564C316.352 219.564 317.511 220.048 318.369 221.016C319.228 221.977 319.657 223.279 319.657 224.923C319.657 226.573 319.209 227.875 318.314 228.829C317.427 229.776 316.183 230.249 314.584 230.249C313.168 230.249 312.013 229.856 311.118 229.071C310.223 228.286 309.713 227.201 309.588 225.814H311.514C311.639 226.731 311.965 227.424 312.493 227.894C313.021 228.356 313.718 228.587 314.584 228.587C315.53 228.587 316.271 228.264 316.807 227.619C317.35 226.973 317.621 226.082 317.621 224.945C317.621 223.874 317.328 223.015 316.741 222.37C316.161 221.717 315.387 221.39 314.419 221.39C313.531 221.39 312.834 221.585 312.328 221.974L311.789 222.414L310.16 221.996Z" fill="url(#paint23_linear)"/>
  <path d="M358.219 213.996V215.723H357.845C356.26 215.753 354.998 216.222 354.059 217.132C353.12 218.041 352.578 219.322 352.431 220.972C353.274 220.004 354.426 219.52 355.886 219.52C357.28 219.52 358.391 220.011 359.22 220.994C360.057 221.977 360.475 223.246 360.475 224.802C360.475 226.452 360.024 227.773 359.121 228.763C358.226 229.754 357.023 230.249 355.512 230.249C353.979 230.249 352.735 229.662 351.782 228.488C350.828 227.307 350.351 225.788 350.351 223.932V223.151C350.351 220.202 350.978 217.95 352.233 216.394C353.495 214.832 355.369 214.032 357.856 213.996H358.219ZM355.545 221.214C354.848 221.214 354.206 221.423 353.619 221.841C353.032 222.26 352.625 222.784 352.398 223.415V224.163C352.398 225.484 352.695 226.548 353.289 227.355C353.883 228.162 354.624 228.565 355.512 228.565C356.429 228.565 357.148 228.228 357.669 227.553C358.197 226.878 358.461 225.994 358.461 224.901C358.461 223.8 358.193 222.913 357.658 222.238C357.13 221.555 356.425 221.214 355.545 221.214Z" fill="url(#paint24_linear)"/>
  <path d="M401.579 215.151L394.943 230.029H392.808L399.422 215.679H390.751V214.007H401.579V215.151Z" fill="url(#paint25_linear)"/>
  <path d="M441.957 218.188C441.957 218.988 441.744 219.699 441.318 220.323C440.9 220.946 440.332 221.434 439.613 221.786C440.449 222.146 441.109 222.67 441.593 223.36C442.085 224.05 442.331 224.831 442.331 225.704C442.331 227.09 441.861 228.195 440.922 229.016C439.991 229.838 438.762 230.249 437.236 230.249C435.695 230.249 434.459 229.838 433.527 229.016C432.603 228.187 432.141 227.083 432.141 225.704C432.141 224.838 432.376 224.057 432.845 223.36C433.322 222.663 433.979 222.135 434.815 221.775C434.103 221.423 433.542 220.935 433.131 220.312C432.72 219.688 432.515 218.98 432.515 218.188C432.515 216.838 432.948 215.767 433.813 214.975C434.679 214.183 435.82 213.786 437.236 213.786C438.644 213.786 439.781 214.183 440.647 214.975C441.52 215.767 441.957 216.838 441.957 218.188ZM440.295 225.66C440.295 224.765 440.009 224.035 439.437 223.47C438.872 222.905 438.131 222.623 437.214 222.623C436.297 222.623 435.559 222.902 435.002 223.459C434.452 224.017 434.177 224.75 434.177 225.66C434.177 226.57 434.444 227.285 434.98 227.806C435.523 228.327 436.275 228.587 437.236 228.587C438.189 228.587 438.938 228.327 439.481 227.806C440.024 227.278 440.295 226.562 440.295 225.66ZM437.236 215.459C436.436 215.459 435.787 215.708 435.288 216.207C434.797 216.699 434.551 217.37 434.551 218.221C434.551 219.035 434.793 219.696 435.277 220.202C435.769 220.701 436.421 220.95 437.236 220.95C438.05 220.95 438.699 220.701 439.184 220.202C439.675 219.696 439.921 219.035 439.921 218.221C439.921 217.407 439.668 216.743 439.162 216.229C438.655 215.716 438.013 215.459 437.236 215.459Z" fill="url(#paint26_linear)"/>
  <path d="M481.047 222.986C480.621 223.492 480.111 223.899 479.517 224.207C478.93 224.516 478.285 224.67 477.58 224.67C476.656 224.67 475.849 224.442 475.159 223.987C474.477 223.532 473.949 222.894 473.575 222.073C473.201 221.244 473.014 220.33 473.014 219.333C473.014 218.261 473.215 217.297 473.619 216.438C474.03 215.58 474.609 214.924 475.358 214.469C476.106 214.014 476.979 213.786 477.977 213.786C479.561 213.786 480.808 214.381 481.718 215.569C482.635 216.75 483.094 218.364 483.094 220.411V221.005C483.094 224.123 482.477 226.401 481.245 227.839C480.012 229.269 478.153 230.003 475.666 230.04H475.27V228.323H475.699C477.379 228.294 478.67 227.857 479.572 227.013C480.475 226.162 480.966 224.82 481.047 222.986ZM477.911 222.986C478.593 222.986 479.22 222.777 479.792 222.359C480.372 221.941 480.794 221.423 481.058 220.807V219.993C481.058 218.658 480.768 217.572 480.188 216.736C479.609 215.899 478.875 215.481 477.988 215.481C477.093 215.481 476.374 215.826 475.831 216.515C475.288 217.198 475.016 218.1 475.016 219.223C475.016 220.316 475.277 221.218 475.798 221.93C476.326 222.634 477.03 222.986 477.911 222.986Z" fill="url(#paint27_linear)"/>
  <path d="M514.613 230.029H512.566V216.46L508.462 217.968V216.119L514.294 213.929H514.613V230.029Z" fill="url(#paint28_linear)"/>
  <path d="M530.624 223.195C530.624 225.579 530.217 227.351 529.403 228.51C528.588 229.669 527.315 230.249 525.584 230.249C523.875 230.249 522.609 229.684 521.788 228.554C520.966 227.417 520.541 225.722 520.511 223.47V220.752C520.511 218.397 520.918 216.648 521.733 215.503C522.547 214.359 523.823 213.786 525.562 213.786C527.286 213.786 528.555 214.34 529.37 215.448C530.184 216.548 530.602 218.25 530.624 220.554V223.195ZM528.588 220.411C528.588 218.687 528.346 217.432 527.862 216.648C527.378 215.855 526.611 215.459 525.562 215.459C524.52 215.459 523.761 215.852 523.284 216.637C522.807 217.421 522.562 218.628 522.547 220.257V223.514C522.547 225.245 522.796 226.526 523.295 227.355C523.801 228.176 524.564 228.587 525.584 228.587C526.589 228.587 527.334 228.198 527.818 227.421C528.309 226.643 528.566 225.418 528.588 223.745V220.411Z" fill="url(#paint29_linear)"/>
  <defs>
  <linearGradient id="paint0_linear" x1="-110.491" y1="40.8476" x2="985.35" y2="335.232" gradientUnits="userSpaceOnUse">
  <stop stop-color="#1D678C"/>
  <stop offset="1" stop-color="#1D678C" stop-opacity="0"/>
  </linearGradient>
  <linearGradient id="paint1_linear" x1="-110.491" y1="40.8476" x2="985.35" y2="335.232" gradientUnits="userSpaceOnUse">
  <stop stop-color="#1D678C"/>
  <stop offset="1" stop-color="#1D678C" stop-opacity="0"/>
  </linearGradient>
  <linearGradient id="paint2_linear" x1="-110.491" y1="40.8476" x2="985.35" y2="335.232" gradientUnits="userSpaceOnUse">
  <stop stop-color="#1D678C"/>
  <stop offset="1" stop-color="#1D678C" stop-opacity="0"/>
  </linearGradient>
  <linearGradient id="paint3_linear" x1="-110.491" y1="40.8476" x2="985.35" y2="335.232" gradientUnits="userSpaceOnUse">
  <stop stop-color="#1D678C"/>
  <stop offset="1" stop-color="#1D678C" stop-opacity="0"/>
  </linearGradient>
  <linearGradient id="paint4_linear" x1="-110.491" y1="40.8476" x2="985.35" y2="335.232" gradientUnits="userSpaceOnUse">
  <stop stop-color="#1D678C"/>
  <stop offset="1" stop-color="#1D678C" stop-opacity="0"/>
  </linearGradient>
  <linearGradient id="paint5_linear" x1="-110.491" y1="40.8476" x2="985.35" y2="335.232" gradientUnits="userSpaceOnUse">
  <stop stop-color="#1D678C"/>
  <stop offset="1" stop-color="#1D678C" stop-opacity="0"/>
  </linearGradient>
  <linearGradient id="paint6_linear" x1="-110.491" y1="40.8476" x2="985.35" y2="335.232" gradientUnits="userSpaceOnUse">
  <stop stop-color="#1D678C"/>
  <stop offset="1" stop-color="#1D678C" stop-opacity="0"/>
  </linearGradient>
  <linearGradient id="paint7_linear" x1="-110.491" y1="40.8476" x2="985.35" y2="335.232" gradientUnits="userSpaceOnUse">
  <stop stop-color="#1D678C"/>
  <stop offset="1" stop-color="#1D678C" stop-opacity="0"/>
  </linearGradient>
  <linearGradient id="paint8_linear" x1="-110.491" y1="40.8476" x2="985.35" y2="335.232" gradientUnits="userSpaceOnUse">
  <stop stop-color="#1D678C"/>
  <stop offset="1" stop-color="#1D678C" stop-opacity="0"/>
  </linearGradient>
  <linearGradient id="paint9_linear" x1="-110.491" y1="40.8476" x2="985.35" y2="335.232" gradientUnits="userSpaceOnUse">
  <stop stop-color="#1D678C"/>
  <stop offset="1" stop-color="#1D678C" stop-opacity="0"/>
  </linearGradient>
  <linearGradient id="paint10_linear" x1="-110.491" y1="40.8476" x2="985.35" y2="335.232" gradientUnits="userSpaceOnUse">
  <stop stop-color="#1D678C"/>
  <stop offset="1" stop-color="#1D678C" stop-opacity="0"/>
  </linearGradient>
  <linearGradient id="paint11_linear" x1="-110.491" y1="40.8476" x2="985.35" y2="335.232" gradientUnits="userSpaceOnUse">
  <stop stop-color="#1D678C"/>
  <stop offset="1" stop-color="#1D678C" stop-opacity="0"/>
  </linearGradient>
  <linearGradient id="paint12_linear" x1="-110.491" y1="40.8476" x2="985.35" y2="335.232" gradientUnits="userSpaceOnUse">
  <stop stop-color="#1D678C"/>
  <stop offset="1" stop-color="#1D678C" stop-opacity="0"/>
  </linearGradient>
  <linearGradient id="paint13_linear" x1="-110.491" y1="40.8476" x2="985.35" y2="335.232" gradientUnits="userSpaceOnUse">
  <stop stop-color="#1D678C"/>
  <stop offset="1" stop-color="#1D678C" stop-opacity="0"/>
  </linearGradient>
  <linearGradient id="paint14_linear" x1="-110.491" y1="40.8476" x2="985.35" y2="335.232" gradientUnits="userSpaceOnUse">
  <stop stop-color="#1D678C"/>
  <stop offset="1" stop-color="#1D678C" stop-opacity="0"/>
  </linearGradient>
  <linearGradient id="paint15_linear" x1="-110.491" y1="40.8476" x2="985.35" y2="335.232" gradientUnits="userSpaceOnUse">
  <stop stop-color="#1D678C"/>
  <stop offset="1" stop-color="#1D678C" stop-opacity="0"/>
  </linearGradient>
  <linearGradient id="paint16_linear" x1="-110.491" y1="40.8476" x2="985.35" y2="335.232" gradientUnits="userSpaceOnUse">
  <stop stop-color="#1D678C"/>
  <stop offset="1" stop-color="#1D678C" stop-opacity="0"/>
  </linearGradient>
  <linearGradient id="paint17_linear" x1="-110.491" y1="40.8476" x2="985.35" y2="335.232" gradientUnits="userSpaceOnUse">
  <stop stop-color="#1D678C"/>
  <stop offset="1" stop-color="#1D678C" stop-opacity="0"/>
  </linearGradient>
  <linearGradient id="paint18_linear" x1="-110.491" y1="40.8476" x2="985.35" y2="335.232" gradientUnits="userSpaceOnUse">
  <stop stop-color="#1D678C"/>
  <stop offset="1" stop-color="#1D678C" stop-opacity="0"/>
  </linearGradient>
  <linearGradient id="paint19_linear" x1="-110.491" y1="40.8476" x2="985.35" y2="335.232" gradientUnits="userSpaceOnUse">
  <stop stop-color="#1D678C"/>
  <stop offset="1" stop-color="#1D678C" stop-opacity="0"/>
  </linearGradient>
  <linearGradient id="paint20_linear" x1="-110.491" y1="40.8476" x2="985.35" y2="335.232" gradientUnits="userSpaceOnUse">
  <stop stop-color="#1D678C"/>
  <stop offset="1" stop-color="#1D678C" stop-opacity="0"/>
  </linearGradient>
  <linearGradient id="paint21_linear" x1="-110.491" y1="40.8476" x2="985.35" y2="335.232" gradientUnits="userSpaceOnUse">
  <stop stop-color="#1D678C"/>
  <stop offset="1" stop-color="#1D678C" stop-opacity="0"/>
  </linearGradient>
  <linearGradient id="paint22_linear" x1="-110.491" y1="40.8476" x2="985.35" y2="335.232" gradientUnits="userSpaceOnUse">
  <stop stop-color="#1D678C"/>
  <stop offset="1" stop-color="#1D678C" stop-opacity="0"/>
  </linearGradient>
  <linearGradient id="paint23_linear" x1="-110.491" y1="40.8476" x2="985.35" y2="335.232" gradientUnits="userSpaceOnUse">
  <stop stop-color="#1D678C"/>
  <stop offset="1" stop-color="#1D678C" stop-opacity="0"/>
  </linearGradient>
  <linearGradient id="paint24_linear" x1="-110.491" y1="40.8476" x2="985.35" y2="335.232" gradientUnits="userSpaceOnUse">
  <stop stop-color="#1D678C"/>
  <stop offset="1" stop-color="#1D678C" stop-opacity="0"/>
  </linearGradient>
  <linearGradient id="paint25_linear" x1="-110.491" y1="40.8476" x2="985.35" y2="335.232" gradientUnits="userSpaceOnUse">
  <stop stop-color="#1D678C"/>
  <stop offset="1" stop-color="#1D678C" stop-opacity="0"/>
  </linearGradient>
  <linearGradient id="paint26_linear" x1="-110.491" y1="40.8476" x2="985.35" y2="335.232" gradientUnits="userSpaceOnUse">
  <stop stop-color="#1D678C"/>
  <stop offset="1" stop-color="#1D678C" stop-opacity="0"/>
  </linearGradient>
  <linearGradient id="paint27_linear" x1="-110.491" y1="40.8476" x2="985.35" y2="335.232" gradientUnits="userSpaceOnUse">
  <stop stop-color="#1D678C"/>
  <stop offset="1" stop-color="#1D678C" stop-opacity="0"/>
  </linearGradient>
  <linearGradient id="paint28_linear" x1="-110.491" y1="40.8476" x2="985.35" y2="335.232" gradientUnits="userSpaceOnUse">
  <stop stop-color="#1D678C"/>
  <stop offset="1" stop-color="#1D678C" stop-opacity="0"/>
  </linearGradient>
  <linearGradient id="paint29_linear" x1="-110.491" y1="40.8476" x2="985.35" y2="335.232" gradientUnits="userSpaceOnUse">
  <stop stop-color="#1D678C"/>
  <stop offset="1" stop-color="#1D678C" stop-opacity="0"/>
  </linearGradient>
  </defs>
  </svg>

</div>
