<div class="container" data-controller="search">
  <%= render 'shared/search' %>
  <div class="places" data-target="search.places">
    <div class="text-center" style="visibility: hidden;"><%= image_tag "spin.svg" %></div>
  </div>
</div>

