<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_KEY']}" %>

<div class="container" data-controller="search">
  <%= render 'shared/search' %>
  <div class="places" data-target="search.places">
  </div>
</div>

